body {
	margin-right: 100px;
	margin-left: 100px;
}

nav {
 	margin-top: -10px ;
	margin-left:  6px ;
	background-color: #FFFFFF;
	position: relative;
}

nav ul {
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: #FFFFFF;
	color: black
}

nav a {
    display: block;
    padding: 0 10px;
    color: #000000;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

nav ul :hover {
	background: black;
	color: white;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li {
    min-width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

p {
	font-family: serif;
	font-size: 120%;
	line-height: 1.5;
}

section {
	align-self: center;
	padding: 40px;
}

h1 {
	font-family: monospace;
	font-size: 200%;
	text-align: center;
}

h2 {
	font-family: monospace;
	font-size: 150%;
	text-align: left;
}

tr {
	text-align: center;
}

th {
	font-size: 125%; 
}

td {
	font-size: 105%;
}

footer {
	color: black;
	padding-bottom: 10px;
	align-content: center;
}

.nav_btn {
	padding: 15px;
	margin-right: 5px;
	font-size: 200%;
	color: black;
	font-family: fantasy;
	text-decoration: none;
	background: white;
}