* {
    margin: 0;
    padding: 0;
}

.logo {
    margin-left: auto;
    margin-right: 15px;
    padding: 10px!important;
    width: 40px;
    height: 40px;
    background: url(images/logo.jpg) 25% 25%/ contain no-repeat;
    animation-name: slide_rotate_unhide;
    animation-duration: 3s;
}

/* CONTENT */

.main-image {
    width: 100%;
    min-height: 600px;
    background: url(images/main_picture.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.history-container {
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: #d2cfcf;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.history-container p, h1{
    margin: 20px;
}
/* END OF CONTENT */

/* Footer */

footer {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #2e2d2d;
    color: white;
}

footer p {
    text-align: center;
}

footer p a {
    color: grey;
}

@keyframes slide_rotate_unhide {
    from {
        transform: rotate(0deg);
        opacity: 0.0;     
    }
    to {
        transform: rotate(360deg);
        opacity: 1;     
    }
}
